@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Comp shop</h1>
</div>

<tr>
    <th>Сортировать по: </th>
    <th>
        @Html.ActionLink(" имени ", "Index", new { sortOrder = SortState.Name })
    </th>
    <th>
        рейтингу
    </th>
    <th>
        @Html.ActionLink(" цене", "Index", new { sortOrder = SortState.Price })
    </th>
</tr>

<div class="row align-items-end">
    @foreach (Product product in Model)
    {
        <div class="col">
            <div class="card" style="margin: 30px 0 0 0; height: 530px; min-width: 280px; border: solid 1px #00ced1; border-radius: 8px" >
                <img src=@product.ImgURL class="rounded mx-auto d-block">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                </div>
                <div style="align-self: flex-end; border-left: 1px solid #d8d8d8; border-top-left-radius: 8px;" class="card-footer">
                    <h4 class="text-muted">@product.Price.ToString("C")</h4>
                </div>
            </div>
        </div>
    }
</div>
